body{
  margin: 0px;
  overflow: hidden;
}

audio{
  display: none;
}

.background{
  width: 100%;
  height: 600px;
}

div{
  position: relative;
}

.man{
  position: absolute;
  width: 300px;
  left: 0px;
  bottom: 20px;
  animation-name: man;
  animation-duration: 20s;
  animation-fill-mode:  forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes man {
  from{
    transform: translateX(-200px);
  }
  to{
    transform: translateX(1200px);
  }
}

.woman{
  width: 300px;
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 2px;
  animation-name: woman;
  animation-duration: 40s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes woman {
  from{
    transform: translateX(-600px);
  }
  to{
    transform: translateX(1200px);
  }
}

.man2{
  position: absolute;
  width: 250px;
  right:-10px;
  bottom: 30px;
  animation-name: man2;
  animation-duration: 50s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotateY(180deg);
}


@keyframes man2 {
  from{
    transform: translateX(700px) rotateY(180deg);
  }
  to{
    transform: translateX(-1300px) rotateY(180deg);
  }
}



/* download background music */
/* https://www.chosic.com/download-audio/39325/ */


/* remove background of gif */
/* https://www.unscreen.com/upload */












































