body{
    background: none;
    text-align: center;
    margin: 60px;
}

div{
    background: rgb(255, 255, 255);
}

img{
    width: 350px;
    margin: 100px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    /* uncomment the box-shadows on after the other to see the difference each makes */
    
    /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
    /* box-shadow: 15px 10px blue, 10px 15px red, 20px 18px yellow; */
}
