.navbar_container{
    position: fixed;
    display: block;
    left: 0;
    background: white;
    margin-top: 100px;
    width: 200px;
    border-radius: 20px;
    height: fit-content;
    padding: 10px;
    box-shadow: rgba(156, 65, 65, 0.24) 0px 3px 8px;
}

.navbar{
    width: 220px;
    margin: 0px -30px;
}

.navbar_logo{
    text-align: center;
    cursor: pointer;
    margin-bottom: 40px;
    color:rgb(24, 24, 24);
}

.navbar_logo img{
    width: 70%;
}

.navbar_logo h1{
    margin-top: -15px;
    font-size: 15px;
    color: rgb(90, 66, 66);
}

.navbar_inner{
    list-style-type: none;
}

.navbar_lists{
    padding: 10px 0px;
    text-align: center;
    margin: 20px 0px;
}

.navbar_lists a{
    text-decoration: none;
    color: rgb(37, 28, 25);
    border-radius: 20px;
    padding: 10px 50px;
}

.navbar_lists a:hover{
    color: white;
    background: black;
    transition: 0.2s ease-in;
}

.background img{
    width: 100%;
}
