body{
    background: none;
    text-align: center;
    margin: 60px;
}

h1{
    color: rgb(241, 141, 18);
}

p{
    color: whitesmoke;
    font-size: large;
    padding: 10px;
    text-align: left;
    background: rgb(241, 141, 18);
}

.divA p, .divB p, .divC p, .divD p, .divE p{
    background: none;
    color: black;
}

.divA, .divB, .divC, .divD, .divE{
    margin: 100px 0px;
}

/* CSS POSITIONING */

.divA p{
    position: static;
 }

.divB p{
    position: relative;
    left: 100px;
    border: 2px solid green;
}

.divC p{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: purple;
    color: white;
}

.divD{
    position: relative;
}

.divD p{
    position: absolute;
    top: -100px;
    right: 0;
    border: 2px solid orangered;
}

.divE p{
    position: sticky;
    top: 0px;
    background: dodgerblue;
    color: white;
}

.divF{
    position: relative;
}

#top-left{
    position: absolute;
    top: 0px;
    left: 0px;
    background: yellow;
}

#bottom-left{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: violet;
}

#top-right{
    position: absolute;
    top: 0px;
    right: 0px;
    background: brown;
}

#bottom-right{
    position:absolute;
    bottom: 0px;
    right: 0px;
    background: pink;
    color: black;
}

#center{
    position: absolute;
    width:100%;
    top: 50%;
    text-align: center;
    background: purple;
}








