body{
    background: none;
    margin: 60px;
}

h1{
    color: rgb(36, 128, 0);
}

p{
    font-size: large;
    padding: 10px;
    text-align: justify;
}

/* CSS GRID */

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    /* justify-content: space-evenly; */
    /* align-content: center; */
    /* height: 300px; */
    gap: 10px;
    text-align: center;
}


.header{
    background: green;
    color: white;
    /* grid-column: 1 / 4; */
    grid-column-start: 1;
    grid-column-end: 4;
}

.menu{
    background: brown;
    color: white;
    /* grid-row: 2 / span 2; */
    grid-row-start: 2;
    grid-row-end: 4;
}

.main{
    background: blue;
    color: white;
}

.right{
    background: pink;
    color: brown;
}

.footer{
    background: purple;
    color: white;
    /* grid-area: row-start / column-start / row-end / column-end */
    /* grid-area: 3 / 2 / 3 / 4; */
    grid-area: 3 / 2 / span 1 / span 2;
}

#note{
    background: rgb(128, 0, 0);
    color: white;
    margin-top: 60%;
    text-align: center;
}
