body{
    background: none;
    text-align: center;
    margin: 60px;
}

h1{
    color: rgb(0, 109, 128);
}

p{
    color: whitesmoke;
    font-size: large;
    padding: 10px;
    text-align: left;
    background: rgb(0, 109, 128);
}
.divA, .divB, .divC, .divD, .divE{
    margin: 100px 0px;
}

.divA a:link{
    font-size: 30px;
}

.divA a:visited{
    color: green;
}

.divA a:hover{
    color: purple;
}

.divA a:active{
    color: red;
}

.divB a{
    text-decoration: none;
    font-size: 30px;
    color: orangered;
}

.divC a{
    text-decoration: none;
    background: orangered;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
}

.divD a{
    text-decoration: none;
    background: none;
    border: 2px solid orangered;
    color: orangered;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
}

.divE a{
    text-decoration: none;
    background: orangered;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px; 
}

.divE a:hover{
    text-decoration: none;
    background: none;
    border: 2px solid orangered;
    color: orangered;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
}
