h1{
  color: rgb(170, 12, 38);
  text-align: center;
}
 
p{
  text-align: center;
}

body{
  padding: 10px;
  background-color: antiquewhite;
}

#note{
  margin-top: 100%;
  background:rgb(170, 12, 38);
  padding:20px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#note p{
  text-align: center;
}

#note span{
  font-weight: 300;
}

/* CSS ANIMATION */
.animation{
  width:100px;
  height: 100px;
  background-color: yellow;
  /* animation-name: myAnimation;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out; */
  animation-fill-mode: both;
  animation: myAnimation 5s ease-in-out 1s infinite alternate-reverse;
  /* animation: name duration t-funtion delay iteration-c direction */
}

@keyframes myAnimation{
  /* from{
    background-color: red;
  }
  to{
    background-color: black;
  } */

  0%{
    background-color: red;
  }

  25%{
    background-color: purple;
  }

  50%{
    background-color: brown;
  }

  75%{
    background-color: pink;
  }

  100%{
    background-color: dodgerblue;
  }
}


/*CSS ANIMATIONS ASSIGNMENT, CHECK IT OUT TO SEE WHAT IT LOOKS LIKE ON THE SCREEN*/

@keyframes myAnimation{
  0%{
    background-color: red;
    height: 5px;
    width: 5px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  5%{
    background-color: purple;
  }

  10%{
    background-color: blue;
  }

  15%{
    background-color: green;
  }

  20%{
    background-color: greenyellow;
  }

  25%{
    background-color: indigo;
  }

  30%{
    background-color: blanchedalmond;
  }

  35%{
    background-color: black;
  }

  40%{
    background-color: darkmagenta;
  }

  45%{
    background-color: orangered;
  }

  50%{
    background-color: orange;
  }

  55%{
    background-color: gold;
  }

  60%{
    background-color: goldenrod;
  }

  65%{
    background-color: gray;
  }

  70%{
    background-color: skyblue;
  }

  75%{
    background-color: lightcoral;
  }

  80%{
    background-color: lightseagreen;
  }

  85%{
    background-color: lightsalmon;
  }

  90%{
    background-color: lightcyan;
  }

  95%{
    background-color: darkolivegreen;
  }

  100%{
    background-color: dodgerblue;
  }
}












