body{
    background: none;
    text-align: center;
    margin: 60px;
}

h1{
    color: dodgerblue;
}

p{
    color: whitesmoke;
    font-size: large;
    padding: 10px;
    text-align: left;
    background: dodgerblue;
}

.divA p, .divB p, .divC p, .divD p, .divE p{
    background: none;
    color: black;
}

.divA, .divB, .divC, .divD, .divE{
    margin: 100px 0px;
}

/* CSS POSITIONING */

.divA p{
    position: static;
 }

.divB p{
    position: relative;
    left: 100px;
    background-color: purple;
    color: white;
}

.divC p{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: orangered;
    color: white;
}

.divD{
    position: relative;
}

.divD p{
    position: absolute;
    background: green;
    color: white;
    top: -100px;
    right: 20px;
}

.divE p{
    position: sticky;
    top: 0px;
    background: brown;
    color: white;
}

.divF{
    position: relative;
}

#top-left{
    position: absolute;
    color: black;
    top: 0px;
    left: 0px;
    background: none;
}

#bottom-left{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: none;
    color: black;
}

#top-right{
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    color: black;
}

#bottom-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: none;
    color: black;
}

#center{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    background: none;
    color: black;
}








