h1{
  color: rgb(170, 12, 38);
  text-align: center;
}
 
p{
  text-align: center;
}

body{
  padding: 10px;
  background-color: antiquewhite;
}

#note{
  margin-top: 100%;
  background:rgb(170, 12, 38);
  padding:20px;
  font-size: 18px;
  color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#note p{
  text-align: center;
}

#note span{
  font-weight: 300;
}
.parent-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 2s ease-in-out;
}

/* CSS ANIMATION */
.animation{
  width:100px;
  height: 100px;
  background-color: yellow;
  /* animation-name: myAnimation;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out; */
  animation-fill-mode: both;
  animation: myAnimation 5s ease-in-out 1s infinite alternate-reverse;
  /* animation: name duration t-funtion delay iteration-c direction */
}

@keyframes myAnimation{
  /* from{
    background-color: red;
  }
  to{
    background-color: black;
  } */

  0%{
    background-color: red;
  }

  25%{
    background-color: purple;
  }

  50%{
    background-color: brown;
  }

  75%{
    background-color: pink;
  }

  100%{
    background-color: dodgerblue;
  }
}


/*CSS ANIMATIONS ASSIGNMENT, CHECK IT OUT TO SEE WHAT IT LOOKS LIKE ON THE BROWSER*/
/* comment out the animation keyframe, myanimation, at the top and use this one below to avoid a wrong display. */
/* Don't hesitate to play around with the properties/values in each level of the keyframe. */
@keyframes myAnimation{
  0%{
    background-color: red;
    height: 5px;
    width: 5px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  5%{
    background-color: purple;
  }

  10%{
    background-color: blue;
  }

  15%{
    background-color: green;
  }

  20%{
    background-color: greenyellow;
  }

  25%{
    background-color: indigo;
  }

  30%{
    background-color: blanchedalmond;
  }

  35%{
    background-color: black;
  }

  40%{
    background-color: darkmagenta;
  }

  45%{
    background-color: orangered;
  }

  50%{
    background-color: orange;
  }

  55%{
    background-color: gold;
  }

  60%{
    background-color: goldenrod;
  }

  65%{
    background-color: gray;
  }

  70%{
    background-color: skyblue;
  }

  75%{
    background-color: lightcoral;
  }

  80%{
    background-color: lightseagreen;
  }

  85%{
    background-color: lightsalmon;
  }

  90%{
    background-color: lightcyan;
  }

  95%{
    background-color: darkolivegreen;
  }

  100%{
    background-color: dodgerblue;
  }
}


/* TODO TASK AS STATED IN THE LAST PART OF THE LESSON VIDEO */
/* Input the different values for each of the css animation properties to see the 
difference in each of them, look closely at each of the boxes, 
observe them well as well as their codes. */
.div1{
  width: 100px;
  height: 100px;
  background-color: chocolate;
  animation-name: myAnimation;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.div2{
  width: 100px;
  height: 100px;
  background-color: cyan;
  animation-name: myAnimation;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.div3{
  width: 100px;
  height: 100px;
  background-color: chartreuse;
  animation-name: myAnimation;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-fill-mode: none;
}

/* Note: the animation properties whose values were changed are: 
animation-direction: values are(normal, reverse, alternate and alternate-reverse),
animation-timing-function: values are(ease-in, ease, ease-out, ease-in-out)
animation-fill-mode: values are(none, forwards, backwards and both) 
You can explore more on your own if you wish to.*/









