body{
    background: none;
    text-align: center;
    margin: 60px;
}

h1{
    color: purple;
}

h3{
    text-decoration: underline;
}

p{
    color: whitesmoke;
    font-size: large;
    padding: 10px;
    text-align: left;
    background: purple;
}

.divA p, .divB p{
    background: none;
    color: black;
}

.divA, .divB{
    margin: 100px 0px;
}

.divA{
    position: relative;
}

.divA img{
    position: absolute;
    width: 20%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.divA .under{
    position: absolute;
    background: orangered;
    color: white;
    z-index: -2;
}

.divB{
    position: relative;
}

.divB img{
    position: absolute;
    width: 20%;
    top: 0px;
    left: 0px;
}

.divB .under{
    position: absolute;
    background: orangered;
    color: white;
}
