p{
    background-image: url('https://images.pexels.com/photos/12328370/pexels-photo-12328370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
}
